body {
  background-color: #ffffff;
  background-image: url(Soul.png);
  background-repeat: no-repeat;
  background-size: auto;

}

.customtext{
  font-family: Impact;
  font-weight: bold;
  font-size: 2px;
}

#divexample {
color: #FFFFFF;
background-color: #000000;
}

.textright {
text-align: right;
}


.firstline {
  color: #0B7DAA

}

.textcenter {
  text-align: center;
}

.secondline {
  color: #0B7DAA
}
.thirdline {
  color: #0B7DAA
}

.imgbox {
  image-orientation: center
}

a {
  text-decoration: none;
  font-family: Arial Black;
  font-weight: bold;
}

a:link {
  color: #0B7DAA
}

a:hover {
  color: #EEA83E
}
