h1 {
color: #B8A6F6;
background-color: #E7FBA1;
}

#specialid {
 color: #6C1E08;
 background-color: #F6B8A6
}

.specialp {
  color: #F6B8A6;
  background-color: #6C1E08
}

a:link {
 color: #FA520A;
}

a:visited {
 color: #95FB3C;
}

a:active {
 color: #00ffff;
}

a:hover {
 color: #F1FB3C;
 text-decoration: underline;
}

.spanstyle {
  color: #0000FF;
}

#divexample {
color: #5D0773;
background-color: #E9C3F2
}
